
<div class="modal fade" id="confirmationDialog" tabindex="-1" aria-labelledby="confirmationDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationDialogLabel">Confirmação de Exclusão</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza de que deseja excluir este produto?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button type="button" class="btn btn-danger" (click)="deleteProduct(row)">Sim</button>
      </div>
    </div>
  </div>
</div>
