@import "~bootstrap/dist/css/bootstrap.min.css";

// Defina variáveis globais, como cores e tamanhos de fonte
$primary-color: #4CAF50;
$secondary-color: #6c757d;
$font-size-base: 16px;

// Estilos globais para o corpo do documento
body {
  font-family: Arial, sans-serif;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
}

// Responsividade para telas de celular
@media (max-width: 480px) {
  // Estilos específicos para telas de celular
  body {
    font-size: 14px;
  }
}

// Responsividade para telas de tablet
@media (min-width: 481px) and (max-width: 768px) {
  // Estilos específicos para telas de tablet
  body {
    font-size: 16px;
  }
}

// Responsividade para telas de web
@media (min-width: 769px) {
  // Estilos específicos para telas de web
  body {
    font-size: 18px;
  }
}
